services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  git-nginx:
    build:
      context: .
      dockerfile: config/docker/git-nginx/Dockerfile
    restart: unless-stopped
    ports:
      - "3080:80"
    volumes:
      - ./tmp/repos:/var/repos
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres-data:
